karthick-suresh-portfolio/workflows/yx7RkEpTPXPkqc_bh_Mto.json
{
  "name": "My workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        208
      ],
      "id": "463a53ce-e897-4542-b372-2ac416fc5a15",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fce08bc4-0e1a-4733-856f-6e19fca3e536",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "pricing",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        208
      ],
      "id": "4ca958ae-80be-4194-a773-0a177ea50d33",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1570574152",
        "text": "lead deteted",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "fc314214-f4df-497b-8326-01df5551b37c",
      "name": "Send a text message",
      "webhookId": "a73f29d9-3c63-40b6-ac3f-92dc18bda0a3"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 34
}
