workflows/u9iGGbAgyBDFCEFM2eRP2.json
{
  "name": "Email Lead Automation – v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        276
      ],
      "id": "25c2a494-d771-4aec-8386-0b77c153d7c7",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dcdf2ba-2cc0-4511-bba6-60925ed3bf97",
              "name": "sender",
              "value": "={{$json.From}}",
              "type": "string"
            },
            {
              "id": "b2c491eb-cedd-42cd-8687-7ea7b8abad9d",
              "name": "subject",
              "value": "={{$json.Subject}}\n",
              "type": "string"
            },
            {
              "id": "1ff38927-6dd6-47ed-b4fb-58b026831b03",
              "name": "body",
              "value": "={{$json.snippet}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        276
      ],
      "id": "bb4de009-cc5b-4ac9-8fa3-c5d59272a775",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hlGi6pS8jdbd2WOm8B9_4sVoaM_UpKyamqWDGuaJR2o",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hlGi6pS8jdbd2WOm8B9_4sVoaM_UpKyamqWDGuaJR2o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hlGi6pS8jdbd2WOm8B9_4sVoaM_UpKyamqWDGuaJR2o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "Sender": "={{ $node[\"Edit Fields\"].json.sender }}\n",
            "Subject": "={{ $node[\"Edit Fields\"].json.subject }}\n",
            "Body": "={{ $node[\"Edit Fields\"].json.body }}\n",
            "Is Lead": "={{ $node[\"Lead Classifier (AI)\"].json.output.is_lead }}",
            "Lead Type": "={{ $node[\"Lead Classifier (AI)\"].json.output.lead_type }}",
            "Urgency": "={{ $node[\"Lead Classifier (AI)\"].json.output.urgency}}",
            "Lead Score": "={{ $node[\"Lead Classifier (AI)\"].json.output.lead_score}}",
            "Reason": "={{ $node[\"Lead Classifier (AI)\"].json.output.reason}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Is Lead",
              "displayName": "Is Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -112
      ],
      "id": "95227483-ca48-4162-9836-e32d4090657f",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        376
      ],
      "id": "eda9f71c-3e35-4275-8cc4-120f9723aba2",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_lead\": false,\n  \"lead_type\": \"string\",\n  \"urgency\": \"string\",\n  \"lead_score\": 0,\n  \"reason\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        376
      ],
      "id": "ac717857-9f35-41c7-a9aa-affb565b85c8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        376
      ],
      "id": "c7d90608-56e9-439e-8e85-1773acec2c14",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $json.subject }}",
        "message": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        568
      ],
      "id": "b181f7bc-3d28-4d60-a809-e6947ce6080c",
      "name": "Create a draft",
      "webhookId": "49f326fb-ecf6-4e1e-a6cb-3bfb923de068",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        936,
        792
      ],
      "id": "5a6f59f7-71ac-491c-90b5-405084dcd092",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant for freelancers and small agencies that offer professional services\n(such as AI, automation, software development, web development, or consulting).\n\nYour task is to analyze incoming emails and determine whether they are REAL CLIENT LEADS.\n\nTarget customer definition:\n- People or businesses looking to BUY services\n- People asking for pricing, project help, timelines, or availability\n\nNOT target customers:\n- Students asking for learning or guidance\n- Spam, newsletters, promotions\n- Job offers unrelated to selling services\n- Generic emails with no clear intent\n\nRules for classification:\n- A lead MUST show intent to purchase or discuss a service\n- Be strict and conservative\n- If unsure, mark as NOT a lead\n\nEmail to analyze:\nSender: {{ $node[\"Edit Fields\"].json.sender }}\nSubject: {{ $node[\"Edit Fields\"].json.subject }}\nBody: {{ $node[\"Edit Fields\"].json.body }}\n\nReturn ONLY valid JSON.\nDo NOT include markdown or explanations.\nReturn the JSON at the ROOT level.\n\nRequired JSON format:\n{\n  \"is_lead\": false,\n  \"lead_type\": \"pricing | project | consultation | other | none\",\n  \"urgency\": \"high | medium | low | none\",\n  \"lead_score\": 0,\n  \"reason\": \"short explanation\"\n}\n\nExamples:\n\nExample 1 (Valid lead):\n{\n  \"is_lead\": true,\n  \"lead_type\": \"pricing\",\n  \"urgency\": \"high\",\n  \"lead_score\": 85,\n  \"reason\": \"Sender is asking for pricing and wants to hire services.\"\n}\n\nExample 2 (Not a lead):\n{\n  \"is_lead\": false,\n  \"lead_type\": \"none\",\n  \"urgency\": \"none\",\n  \"lead_score\": 0,\n  \"reason\": \"Student asking for learning guidance, not a service inquiry.\"\n}\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        152
      ],
      "id": "8d8f3113-3e73-4ac0-b57a-605eadbd12f1",
      "name": "Lead Classifier (AI)",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an assistant helping a business reply to incoming customer emails.\n\nYour task:\n- Read the incoming email content\n- Write a professional, polite, helpful reply\n- Address the customer’s question clearly\n- Keep it concise and human\n- Do NOT mention AI\n- Do NOT make assumptions beyond the email\n\nThe reply must be ready to send as-is.\n\nReturn ONLY the email reply text.\nNo explanations.\nNo formatting.\nNo JSON.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        568
      ],
      "id": "783314ca-ae09-4243-a4e1-7b063d0959f4",
      "name": "Reply Writer (AI)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e1a0923-7903-47bc-8558-531d69e71d5a",
              "leftValue": "={{ $json.output.is_lead }}\n",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        80
      ],
      "id": "bfae82d9-ee98-4ad7-82e2-97b0c433c529",
      "name": "Is Hot Lead?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#hot-leads",
          "mode": "name"
        },
        "text": "=🔥 *NEW HOT LEAD DETECTED*\n\n👤 *From:* {{$json.sender}}\n📌 *Subject:* {{$json.subject}}\n\n🚨 *Urgency:* {{$json.output.urgency}}\n🏷 *Lead Type:* {{$json.output.lead_type}}\n⭐ *Lead Score:* {{$json.output.lead_score}}\n\n🧠 *AI Reason:*\n{{$json.output.reason}}\n\n📩 *Email Preview:*\n{{$json.body}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1216,
        80
      ],
      "id": "a26ac98d-6b3c-43e3-8f88-d54008a6d60a",
      "name": "Slack – Hot Lead Alert",
      "webhookId": "72932d25-3626-41ff-8ec1-ae41fed517d8",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#error",
          "mode": "name"
        },
        "text": "=⚠️ AI Lead Automation Error  Node: {{ $json.error?.node?.name || \"Unknown\" }} Message: {{ $json.error?.message || \"No details\" }}  Time: {{ $now }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        320
      ],
      "id": "8d441b49-a076-4605-b60c-a8876cd143d0",
      "name": "Slack – Hot Lead Alert1",
      "webhookId": "1e93cdac-0d99-49c2-b6e2-c2817bc98abc"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $node[\"Gmail Trigger\"].json.threadId }}\n",
        "labelIds": [
          "Label_2106555412887164167"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        -16
      ],
      "id": "42e44859-4ac2-4747-81cb-e5f017ef64eb",
      "name": "Gmail – Label HOT",
      "webhookId": "c30a1dca-46d8-4e6a-a1b0-a8c870ddb43c"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{$json.threadId}}",
        "labelIds": [
          "Label_6755422494477803712"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        176
      ],
      "id": "4a5892ed-ca6a-4ea6-8617-d010455383a1",
      "name": "Gmail – Label COLD",
      "webhookId": "2d60313b-3601-45eb-95dc-a2c9e36f3141"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Lead Classifier (AI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply Writer (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Classifier (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Classifier (AI)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Classifier (AI)",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Reply Writer (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Slack – Hot Lead Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Classifier (AI)": {
      "main": [
        [
          {
            "node": "Is Hot Lead?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack – Hot Lead Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Writer (AI)": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [
          {
            "node": "Gmail – Label HOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail – Label COLD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack – Hot Lead Alert": {
      "main": [
        [
          {
            "node": "Slack – Hot Lead Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail – Label HOT": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack – Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 425
}
